<div class="col-xs-12 col-sm-12 col-md-12">
    <br>
    <div class="row">
        <ol class="breadcrumb pull-left">
          <li><a href="#/dashboard/home">Inicio</a></li>
          <li class="active">Autorización</li>
        </ol>
    </div>
    <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Autorización AULA</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            
                        </div>
                        <div class="panel-body">
                            <p>Espacio definido para generar el key y secret necesario para la conexión OAuth con AULA.</p>
                        </div>
                        <div class="panel-footer">
                            
                        </div>
                    </div>
                </div>
         </div>
</div>
