<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Evaluat-e</h1>
        </div>
    </div>
    <div class="row"> 
        <stats number="{{answers}}" comments="Nuevas respuestas!" colour="primary" goto="dashboard.answer" type="pencil"></stats>
        <stats number="{{surveis}}" comments="Encuestas!" colour="red" goto="dashboard.survey" type="table"></stats>
        <!--<stats number="18" comments="New orders!" colour="yellow" goto="dashboard.home" type="shopping-cart"></stats>
        <stats number="24" comments="Support tickets!" colour="red" goto="dashboard.home" type="support"></stats>-->
    </div>
</div>
