<link rel="stylesheet" href="../styles/special.css">
<div class="container" ng-init="init()">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">Acceso usuarios</h3>
                </div>
                <div class="panel-body">
                <div class="col-md-10 col-md-offset-1">
                    <form role="form">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" id="txt_username" placeholder="Nombre de usuario" name="txt_username" type="text" autofocus>
                            </div>
                            <div class="form-group">
                            <input class="form-control" placeholder="Password" id="txt_password" name="txt_password" type="password" >
                            </div>
                            <a ng-click="login()" class="btn btn-lg btn-success btn-block">Login</a>
                        </fieldset>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>