<div class="col-xs-12 col-sm-12 col-md-12">
    <div class="row">
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <td ng-if="is_modal_send"></td>
                <td ng-if="is_modal_send" style="text-align:center"><h4>#</h4></td>
                <td><h4>Nombre</h4></td>
                <td><h4>Código</h4></td>
                <td><h4>Email</h4></td>
                <td ng-if="is_modal_send"><h4>Estado</h4></td>
                <td ng-if="is_modal_send">    
                    <div class="dropdown">
                      <button class="btn btn-danger dropdown-toggle" type="button" id="dropdown_actions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Acciones
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="dropdown_actions">
                         <li><a tabindex="-1" ng-click="send_surveis()"  href="javascript:;">Enviar</a></li>
                      </ul>
                    </div>
                </td>   
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="student in students">
                <td ng-if="is_modal_send"><input ng-model="selection_students[student.id]" type="checkbox"></td>
                <td ng-if="is_modal_send" style="text-align:center">{{sno_students($index)}}</td>
                <td>{{student.name}}</td>
                <td>{{student.code}}</td>
                <td>{{student.email}}</td>
                <td ng-if="is_modal_send" ng-show="student.Answers.length > 0"><span class="label label-success">Enviada</span></td>
                <td ng-if="is_modal_send" ng-show="student.Answers.length == 0"><span class="label label-warning">No enviada</span></td>
                <td ng-if="is_modal_send">
                    <a class="btn btn-success" data-toggle="modal" ng-click="send_survey(student)">Enviar</a>
                </td>
            </tbody>
            </tr>
            <tr ng-show="students.length == 0">
                <td colspan="4" style="text-align:center">No se encontraron registros..!</td>
            </tr>
        </table>
       <paginate servicename="Student" model="students" type="1" identity="current_id" src="all_students"></paginate>
    </div>
    </div>
</div>