<div ng-init="init()">
<div id="alert" class="notification-msg"></div>

<form class="form-horizontal">
    <fieldset>
        <!-- Form Name -->
        <legend><div class="container-fluid">
            <a href="#/dashboard/survey" class="btn btn-default navbar-btn navbar-left" formnovalidate>Volver</a>
            <button type="button" ng-click="survey_save()" class="btn btn-default navbar-btn navbar-right" formnovalidate>Guardar</button>
        </div>
        </legend>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="txt_name">Nombre</label>
            <div class="col-md-6">
                <input id="txt_name" name="txt_name" ng-model="survey.name" type="text" placeholder="Escriba nombre de la encuesta" class="form-control input-md" required="required">

            </div>
        </div>

        <!-- Button Drop Down -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="sel_course">Curso</label>
            <div class="col-md-6">
                <div class="input-group">
                <select id="sel_course" ng-model="survey.id_course" name="sel_course" class="form-control">
                    <option value="0">Seleccione curso</option>
                    <option value="1">C400</option>
                    <option value="2">C500</option>
                    <option value="3">C600</option>
                </select>
                <span class="input-group-btn">
                      <button class="btn btn-default" type="button" data-toggle="modal" data-target="#course_modal">Agregar</button>
                    </span>
            </div>
            </div>
        </div>

        <!-- Appended Input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="txt_knowledge_area">Área de Conocimiento</label>
            <div class="col-md-6">
                <div class="input-group">
                    <input id="txt_knowledge_area" name="txt_knowledge_area" class="form-control" placeholder="Escriba area de conocimiento" type="text" required="">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button" add-knowledge-area>Agregar</button>
                    </span>
                </div>
                <p class="help-block">Si el área de conocimiento no existe, será creada.</p>
            </div>
        </div>

        <div class="panel-group" id="list_kw_areas" role="tablist" aria-multiselectable="true">
        </div>
    </fieldset>
</form>


<!-- Modal -->
<div class="modal fade" id="course_modal" tabindex="-1" role="dialog" aria-labelledby="course_modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Cursos</h4>
            </div>
            <div class="modal-body">


    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <td style="text-align:center"><h4>#</h4></td>
                <td><h4>Nombre</h4></td>
                <td><h4>Código</h4></td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="course in courses">
                <td style="text-align:center">{{sno_courses($index)}}</td>
                <td>{{course.name}}</td>
                <td>{{course.code}}</td>
                <td>
                                       <a class="btn btn-primary" data-toggle="tooltip" title="Seleccionar" aria-label="Seleccionar" data-placement="top" ui-sref="dashboard.survey_edit({id:course.id})">  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a>
                </td>
            </tbody>
            </tr>
            <tr ng-show="courses.length == 0">
                <td colspan="4" style="text-align:center">No Records Found..!</td>
            </tr>
        </table>
       <!--<paginate servicename="Student" model="students" src="all_students"></paginate>-->
    </div>




            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="answer_options_modal" tabindex="-1" role="dialog" aria-labelledby="answer_options_modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Opciones de respuestas</h4>
            </div>
            <div class="modal-body">
                <form>
                <!-- Appended Input-->
                <div class="form-group">
                    <!--<label class="col-md-4 control-label" for="txtAnswer">Respuesta</label>-->
                    <div class="container-fluid">
                        <div class="input-group">
                            <input id="txt_answer" name="txt_answer" class="form-control" placeholder="Escriba una opción de respuesta" type="text" required="">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button" ng-click="add_answer_option()">Agregar</button>
                    </span>
                </div>
                </div>
            </div>

                        <ul class="list-group" id="list_answer_options">
                        </ul>
                        <!--<div class="panel-group" id="listAnswerOptions">
                        </div>-->

                    </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
</div>

