<a ui-sref="dashboard.survey_new" class="btn-primary btn-lg nodecoration">Agregar nueva encuesta</a>
<div class="col-xs-8 col-sm-9 col-md-9" ng-init="load_grid()">
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <td></td>
                <td style="text-align:center"><h4>#</h4></td>
                <td><h4>Nombre</h4></td>
                <td>    
                    <div class="dropdown">
                      <button class="btn btn-danger dropdown-toggle" type="button" id="dropdown_actions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Acciones
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="dropdown_actions">
                        <li><a tabindex="-1" ng-click="delete_surveis()"  href="javascript:;">Eliminar</a></li>
                      </ul>
                    </div>
                </td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="survey in surveis">
                <td><input ng-model="selection[survey.id]" type="checkbox"></td>
                <td style="text-align:center">{{sno($index)}}</td>
                <td>{{survey.name}}</td>
                <td>
                    <a class="btn btn-primary" data-toggle="tooltip" title="Editar" aria-label="Editar" data-placement="top" ui-sref="dashboard.survey_edit({id:survey.id})">  <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                    <a class="btn btn-danger" data-toggle="tooltip" data-placement="top"  title="Eliminar" aria-label="Eliminar" ng-click="delete_survey(survey)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                    <a class="btn btn-success" data-placement="top"  title="Estudiantes" aria-label="Estudiantes" data-toggle="modal" data-target="#students_survey_modal" ng-click="open_students(survey)"><span class="glyphicon glyphicon-send" aria-hidden="true"></span></a>
                </td>
            </tbody>
            </tr>
            <tr ng-show="surveis.length == 0">
                <td colspan="4" style="text-align:center">No se encontraron registros..!</td>
            </tr>
        </table>
       <paginate servicename="Survey" model="surveis" src="all_surveis"></paginate>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="students_survey_modal" tabindex="-1" role="dialog" aria-labelledby="students_survey_modal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Estudiantes</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">      
                   <div ng-include="'views/student/modal_students.html'"></div>
                </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
</div>
