<div id="chart_canvas" ng-init="general()">
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Reportes</h1>
        <button type="button" class="btn btn-primary pull-right" ng-click="generate_pdf()">Generar PDF</button>
    </div>
    <!-- /.col-lg-12 -->
</div>
<br>
<div class="row">
    <!--<div class="col-lg-6 col-sm-12" id="line-chart">
        <div class="panel panel-default">
            <div class="panel-heading">Line Chart</div>
            <div class="panel-body">
                <canvas id="line" class="chart chart-line chart-xl" data="line.data" labels="line.labels" legend="true"
                click="line.onClick" series="line.series"></canvas>
            </div>
        </div>
    </div>-->
    <div class="col-lg-12 col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">Encuestas</div>
            <div class="panel-body">
                <select ng-model="sel_surveis_gral" ng-change="change_survey()" id="sel_surveis_gral" name="sel_surveis_gral" class="form-control">
                    <option value="-1" selected disabled>Seleccione encuesta</option>
                    <option ng-repeat="survey in info_pie" value="{{survey.position}}">{{survey.info.survey}}</option>
                </select>
                <br>
                <div class="col-lg-6 col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                             <canvas width="450" height="300" id="pie" class="chart-base" chart-type="type" chart-options='pie.options' chart-data="pie.data" chart-labels="pie.labels"></canvas>
                             <button type="button" class="btn btn-primary pull-left" ng-click="pie.click()">Cambiar vista</button>
                         </div>
                    </div>
                </div>
                <br>
                <div id="surveis_chart"></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <!--<div class="col-lg-6 col-sm-12" id="doughnut-chart">
        <div class="panel panel-default">
            <div class="panel-heading">Doughnut Chart</div>
            <div class="panel-body">
            <canvas id="doughnut" class="chart chart-doughnut chart-xs" data="donut.data" labels="donut.labels" legend="false"></canvas>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-sm-12" id="radar-chart">
        <div class="panel panel-default">
            <div class="panel-heading">Radar Chart</div>
            <div class="panel-body">
                <canvas id="area" class="chart chart-radar" data="radar.data" labels="radar.labels" click="onClick"></canvas>
            </div>
        </div>
    </div>-->
    <div class="col-lg-6 col-sm-12" id="bar-chart">
        <div class="panel panel-default">
            <div class="panel-heading">Cursos</div>
            <div class="panel-body">
                <canvas width="450" height="300" id="bar" class="chart chart-horizontalBar" chart-data="bar.data" chart-labels="bar.labels" chart-series="bar.series"
                chart-options="bar.options"></canvas>
                 <select ng-model="sel_courses_gral" ng-change="bar.change()" id="sel_courses_gral" name="sel_courses_gral" class="form-control">
                    <option value="-1" selected disabled>Seleccione curso</option>
                    <option ng-repeat="course in info_bar" value="{{course.position}}">{{course.name}}</option>
                </select>
                <br>
                <button type="button" class="btn btn-primary pull-right" ng-click="bar.click()">Cambiar vista</button>
            </div>
        </div>
    </div>
</div>
</div>